@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --bs-warning-rgb: 245, 197, 78;
  --bs-secondary-rgb: 0, 50, 55;
  --bs-danger-rgb: 255, 0, 0;
  --bs-success-rgb: 4, 181, 68;
  --light: 255, 255, 255;
  --dark: #000033;
  --light-gray: 247, 247, 247;
  --gray150: 234, 234, 234;
  --gray500: 180, 180, 180;
  --gray700: 99, 101, 102;

  --layout-sider-width: 236px;
  --layout-sider-collasped-width: 70px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: none;
}

html {
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary);
  transition-duration: .3s;
}

a.active,
a:hover {
  color: rgb(var(--light));
}

body {
  background: rgb(var(--light));
  font-family: Plus Jakarta Display, sans-serif !important;
  color: rgb(var(--bs-secondary-rgb));
}

.brand {
  background-image: url(../images/brand.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

h1 {
  font-size: 3.125rem;
  color: rgb(var(--bs-secondary-rgb))
}

section:not(:last-child) {
  margin-bottom: 4rem;
}

.btn-transparent {
  background-color: transparent;
  border-color: transparent;
}

.btn-transparent:hover {
  background-color: rgb(var(--gray150));
}

.table-thead-uppercase thead {
  text-transform: uppercase;
  font-weight: 600;
}

/* https://stackoverflow.com/questions/21168521/table-fixed-header-and-scrollable-body */
.table-thead-fixed {
  overflow: auto;
  height: 100px;
}

.table-thead-fixed thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgba(243, 243, 243, 1);
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgb(var(--light-gray));
}