aside {
  flex: 0 0 236px;
  max-width: 236px;
  min-width: 236px;
  width: 236px;
  background-color: rgb(var(--light));
  border-right: 1px solid rgba(234, 234, 234, 1);
  transition: all .2s;
}

aside.collapsed {
  flex: 0 0 70px;
  max-width: 70px;
  min-width: 70px;
  width: 70px;
}

aside.collapsed li span {
  display: none;
}

#container {
  flex: 1;
  background: rgb(243, 243, 243);
}

aside .brand {
  width: 100%;
  height: 68px;
  background-size: auto;
  background-color: rgb(var(--bs-warning-rgb));
}

aside.collapsed .brand {
  background-size: 168px;
  background-position: 15px;
}

aside .nav li {
  padding: 10px 6px;
}

aside .nav li span {
  width: 95px;
  margin-left: 20px;
}

aside .nav li a {
  min-height: 48px;
  color: rgb(var(--gray700));
}

aside .nav li a.active,
aside .nav li a:hover {
  background-color: rgb(var(--bs-warning-rgb));
  color: rgb(var(--light));
}

aside .nav li a:hover svg path#transcations {
  stroke: rgb(var(--light));
}

aside .nav li a.active svg path#home,
aside .nav li a:hover svg path#home,
aside .nav li a.active svg path#settings,
aside .nav li a:hover svg path#settings {
  fill: rgb(var(--light));
}

#container header {
  height: 68px;
  padding: 0 16px 0 0;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
}

#container #toggle-aside {
  padding: 0 23px;
}

#container .dropdown .dropdown-toggle::after {
  display: none;
}

#container .dropdown #account #name {
  color: rgb(var(--bs-warning-rgb));
  font-weight: 800;
}

#container .dropdown #account #role {
  color: rgb(var(--gray500));
  font-weight: 400;
  font-size: .75rem;
}

#container .dropdown img {
  width: 37px;
  height: 37px;
  border: 2px solid rgb(var(--bs-warning-rgb));
}

#container nav {
  padding: 23px 23px 0;
}

#container main {
  padding: 23px;
}