aside[b-tee00p5rr8] {
  flex: 0 0 236px;
  max-width: 236px;
  min-width: 236px;
  width: 236px;
  background-color: rgb(var(--light));
  border-right: 1px solid rgba(234, 234, 234, 1);
  transition: all .2s;
}

aside.collapsed[b-tee00p5rr8] {
  flex: 0 0 70px;
  max-width: 70px;
  min-width: 70px;
  width: 70px;
}

aside.collapsed li span[b-tee00p5rr8] {
  display: none;
}

#container[b-tee00p5rr8] {
  flex: 1;
  background: rgb(243, 243, 243);
}

aside .brand[b-tee00p5rr8] {
  width: 100%;
  height: 68px;
  background-size: auto;
  background-color: rgb(var(--bs-warning-rgb));
}

aside.collapsed .brand[b-tee00p5rr8] {
  background-size: 168px;
  background-position: 15px;
}

aside .nav li[b-tee00p5rr8] {
  padding: 10px 6px;
}

aside .nav li span[b-tee00p5rr8] {
  width: 95px;
  margin-left: 20px;
}

aside .nav li a[b-tee00p5rr8] {
  min-height: 48px;
  color: rgb(var(--gray700));
}

aside .nav li a.active[b-tee00p5rr8],
aside .nav li a:hover[b-tee00p5rr8] {
  background-color: rgb(var(--bs-warning-rgb));
  color: rgb(var(--light));
}

aside .nav li a:hover svg path#transcations[b-tee00p5rr8] {
  stroke: rgb(var(--light));
}

aside .nav li a.active svg path#home[b-tee00p5rr8],
aside .nav li a:hover svg path#home[b-tee00p5rr8],
aside .nav li a.active svg path#settings[b-tee00p5rr8],
aside .nav li a:hover svg path#settings[b-tee00p5rr8] {
  fill: rgb(var(--light));
}

#container header[b-tee00p5rr8] {
  height: 68px;
  padding: 0 16px 0 0;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
}

#container #toggle-aside[b-tee00p5rr8] {
  padding: 0 23px;
}

#container .dropdown .dropdown-toggle[b-tee00p5rr8]::after {
  display: none;
}

#container .dropdown #account #name[b-tee00p5rr8] {
  color: rgb(var(--bs-warning-rgb));
  font-weight: 800;
}

#container .dropdown #account #role[b-tee00p5rr8] {
  color: rgb(var(--gray500));
  font-weight: 400;
  font-size: .75rem;
}

#container .dropdown img[b-tee00p5rr8] {
  width: 37px;
  height: 37px;
  border: 2px solid rgb(var(--bs-warning-rgb));
}

#container nav[b-tee00p5rr8] {
  padding: 23px 23px 0;
}

#container main[b-tee00p5rr8] {
  padding: 23px;
}