header[b-kp5xr5iuil] {
  background-color: rgb(var(--bs-warning-rgb));
  width: 100%;
  height: 58px;
}

header nav[b-kp5xr5iuil] {
  gap: 48px;
}

header nav a[b-kp5xr5iuil] {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

header .brand[b-kp5xr5iuil] {
  width: 168px;
  height: 40px;
}

footer[b-kp5xr5iuil] {
  padding: 1.875rem 0;
}

footer .slogan[b-kp5xr5iuil] {
  font-size: 0.938rem;
}

footer .brand[b-kp5xr5iuil] {
  width: 168px;
  height: 40px;
  margin-bottom: 1.063rem;
}