header[b-tee00p5rr8] {
  height: 68px;
  border-bottom: 1px solid rgba(234, 234, 234, 1);;
  background-color: rgba(243, 243, 243, 1);
}

header #layout-sider-btn[b-tee00p5rr8] {
  width: 67px;
}

header .brand[b-tee00p5rr8] {
  width: var(--layout-sider-width);
  height: 100%;
  background-size: auto;
  background-color: rgb(var(--bs-warning-rgb));
  transition: all .2s;
  overflow: hidden;
}

header .dropdown .dropdown-toggle[b-tee00p5rr8]::after {
  display: none;
}

header .dropdown #account #name[b-tee00p5rr8] {
  color: rgb(var(--bs-warning-rgb));
  font-weight: 800;
}

header .dropdown #account #role[b-tee00p5rr8] {
  color: rgb(var(--gray500));
  font-weight: 400;
  font-size: .75rem;
}

header .dropdown img[b-tee00p5rr8] {
  width: 37px;
  height: 37px;
  border: 2px solid rgb(var(--bs-warning-rgb));
}

#container[b-tee00p5rr8] {
  padding-top: 68px;
  height: 100%;
  background-color: rgba(243, 243, 243, 1);
}

#container aside[b-tee00p5rr8] {
  width: var(--layout-sider-width);
  min-width: var(--layout-sider-width);
  max-width: var(--layout-sider-width);
  background-color: rgb(var(--light));
  border-right: 1px solid rgba(234, 234, 234, 1);
  transition: all .2s;
  position: fixed;
  padding-top: 68px;
  top: 0;
  overflow: auto;
  height: 100vh;
}

#container aside .nav li[b-tee00p5rr8] {
  padding: 10px 6px;
}

#container aside .nav li span[b-tee00p5rr8] {
  min-width: 95px;
  margin-left: 20px;
}

#container aside .nav li a[b-tee00p5rr8] {
  min-height: 48px;
  color: rgb(var(--gray700));
}

#container aside .nav li a.active[b-tee00p5rr8],
#container aside .nav li a:hover[b-tee00p5rr8] {
  background-color: rgb(var(--bs-warning-rgb));
  color: rgb(var(--light));
}

#container aside .nav li a:hover svg path#transcations[b-tee00p5rr8] {
  stroke: rgb(var(--light));
}

#container aside .nav li a.active svg path#home[b-tee00p5rr8],
#container aside .nav li a:hover svg path#home[b-tee00p5rr8],
#container aside .nav li a.active svg path#settings[b-tee00p5rr8],
#container aside .nav li a:hover svg path#settings[b-tee00p5rr8] {
  fill: rgb(var(--light));
}

#container #content[b-tee00p5rr8] {
  padding-left: var(--layout-sider-width);
}

body.slider-collapsed #container aside .nav li span[b-tee00p5rr8] {
  display: none;
}

body.slider-collapsed header .brand[b-tee00p5rr8],
body.slider-collapsed #container aside[b-tee00p5rr8] {
  width: var(--layout-sider-collasped-width);
  min-width: var(--layout-sider-collasped-width);
  max-width: var(--layout-sider-collasped-width);
}

body.slider-collapsed #container #content[b-tee00p5rr8] {
  padding-left: var(--layout-sider-collasped-width);
}

body.slider-collapsed header .brand[b-tee00p5rr8] {
  background-size: 168px;
  background-position: 15px;
}
