@{
  ViewData["Title"] = "INVETKER";
  Layout = "_DashboardLayout";
}
@section Styles {
  <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
}
@section Scripts {
  <script src="~/js/settings.js" asp-append-version="true"></script>
}

<h1>Settings</h1>